{$ADMIN_HOSTNAME}:8443 {
  tls internal
  encode zstd gzip
  reverse_proxy localhost:3100
  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    Content-Security-Policy "default-src 'self'; frame-ancestors 'none'; object-src 'none'; upgrade-insecure-requests"
    Referrer-Policy "no-referrer"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"
    Permissions-Policy "accelerometer=(), camera=(), geolocation=(), microphone=()"
    Cache-Control "no-store"
  }
}
